<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/product.css">
    <link rel="stylesheet" href="/static/css/product-modal.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="aside">
            <div class="table-num">
                테이블번호.
            </div>
            <div class="aside-menu">
                <i class="fa-solid fa-clipboard-list"></i>
                메뉴주문
            </div>
        </div>
        <div class="right-container">
            <div class="header">
                <a href="#">샐러드</a>
                <a href="#">피자</a>
                <a href="#">스파게티</a>
                <a href="#">파스타/라이스</a>
                <a href="#">음료</a>
            </div>
            <main>
                <div class="main-container">
                    <div class="product-select">
                        <div class="product-images">
                            <img src="/static/images/cheeze.png">
                        </div>
                        <div class="product-detail">
                            <div class="product-name">치즈 크러스트 피자</div>
                            <div class="product-price"><strong>24,000원</strong></div>
                        </div>
                    </div>
                    <div class="product-select">
                        <div class="product-images">
                            <img src="/static/images/bulgogi.png">
                        </div>
                        <div class="product-detail">
                            <div class="product-name">불고기 피자</div>
                            <div class="product-price"><strong>23,000원</strong></div>
                        </div>
                    </div>
                    <div class="product-select">
                        <div class="product-images">
                            <img src="/static/images/shrimp.png">
                        </div>
                        <div class="product-detail">
                            <div class="product-name">피자드새우 피자</div>
                            <div class="product-price"><strong>31,000원</strong></div>
                        </div>
                    </div>
                    <div class="product-select">
                        <div class="product-images">
                            <img src="/static/images/shrimp.png">
                        </div>
                        <div class="product-detail">
                            <div class="product-name">밤고구마 피자</div>
                            <div class="product-price"><strong>28,000원</strong></div>
                        </div>
                    </div>
                </div>
                <div class="modal-container hidden">
                    <div class="bg"></div>
                    <div class="product-modal">
                        <div class="left-modal">
                            <div class="modal-img-container">
                                <img src="/static/images/cheeze.png">
                            </div>
                            <div class="modal-detail">
                                <div class="modal-name">치즈 크러스트 피자</div>
                                <div class="modal-price">24,000원</div>
                            </div>
                        </div>
                        <div class="right-modal">
                            <div class="size-select">1.사이즈 선택
                                <input type="radio" name="size-select">S
                                <input type="radio" name="size-select">L (+4000)
                            </div>
                            <div class="crust-select">2. 크러스트 선택
                                <input type="radio" name="crust-select">기본
                                <input type="radio" name="crust-select">전부 치즈 크러스트
                                <input type="radio" name="crust-select">전부 햄크러스트
                                <input type="radio" name="crust-select">치즈반/햄반 크러스트
                            </div>
                            <div class="topping-select">3. 토핑 추가
                                <input type="radio" name="topping-select">파인애플 토핑
                                <input type="radio" name="topping-select">양파 토핑
                            </div>
                            <button type="button" class="modal-close-btn">취소</button>
                            <button type="button">장바구니담기</button>  
                        </div>
                    </div>
                </div>
                <div class="modal-cart hidden">
                    <div class="bg"></div>
                    <div class="modal-body">
                        <div class="cart-header">
                            <span>장바구니</span>
                            <button type="button" class="">장바구니 비우기</button>
                            <button type="button" class="cart-close">X</button>
                        </div>
                            <hr />
                        <div class="cart-foot">
                            <button type="button" class="order-btn">주문하기</button>
                        </div>
                    </div>
                </div>
            </main>
            <div class="bottom-container">
                <button type="button" class="lnag-btn">KOR <i class="fa-solid fa-caret-up"></i></button>
                <button type="button" class="order-detail-btn"><i class="fa-solid fa-bars"></i> 주문내역</button>
                <button type="button" class="call-btn"><i class="fa-solid fa-user"></i> 직원호출</button>
                <button type="button" class="bag-btn"><i class="fa-solid fa-check"></i> 장바구니 0</button>
            </div>
        </div>
    </div>
    <script src="/static/js/pdt-modal.js"></script>
</body>
</html>