<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/product.css">
    <link rel="stylesheet" href="/static/css/product-modal.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="aside">
            <div class="table-num">
               <span th:text = "|테이블번호 ${number} |"></span>
            </div>
            <div class="aside-menu">
                <i class="fa-solid fa-clipboard-list"></i>
                메뉴주문
            </div>
        </div>
        <div class="right-container">
            <div class="header">
                <button type="button" value="salad" class="category">샐러드</button>
                <button type="button" value="pizza" class="category">피자</button>
                <button type="button" value="spaghetti" class="category">스파게티</button>
                <button type="button" value="pastarice" class="category">파스타/라이스</button>
                <button type="button" value="drink" class="category">음료</button>
            </div>
            <main>
                <div class="main-container">
                   
                </div>
                <div class="main-container invisible">
                    
                </div>
                <div class="main-container invisible">
                   
                </div>
                <div class="main-container invisible">
                   
                </div>
                <div class="main-container invisible">
                
                </div>
                <div class="modal-container hidden">
              
                </div>
                <div class="modal-cart">
                    <div class="bg"></div>
                    <div class="modal-body">
                        <div class="cart-header">
                            <span>장바구니</span>
                            <button type="button" class="cart-clear">장바구니 비우기</button>
                            <button type="button" class="cart-close">X</button>
                        </div>
                            <hr />
                        <div class="cart-main">
                            <!-- <div class="cart-item">
                                <div class="cart-item-dtl">
                                    <div class="cart-item-name">핏자</div>
                                    <div class="cart-item-option">S, 페퍼로니 토핑</div>
                                    <div class="cart-item-price">25000</div>
                                </div>
                                <button type="button" class="cart-plus-btn">-</button>
                                <input type="number">
                                <button type="button" class="cart-minus-btn">+</button>
                                <button type="button" class="cart-remove-btn">삭제</button>
                            </div> -->
                        </div>
                        <div class="cart-foot">
                            총 금액
                            <input class="total-price" type=text value=0  disabled>원
                            <button type="button" class="order-btn">주문하기</button>
                        </div>
                    </div>
                </div>
            </main>
            <div class="bottom-container">
                <button type="button" class="order-detail-btn btn"><i class="fa-solid fa-bars"></i> 주문내역</button>
                <button type="button" class="bag-btn btn"><i class="fa-solid fa-check"></i> 장바구니</button>
            </div>
        </div>
    </div>
    <script src="/static/js/pdt-modal.js"></script>
    <script src="/static/js/product-list22.js"></script>
    <script src="/static/js/carttest.js"></script>
    <script src="/static/js/orderpage.js"></script>
</body>
</html>