<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/product.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="aside">
            <div class="table-num">
                테이블번호.
            </div>
            <div class="aside-menu">
                메뉴주문
            </div>
        </div>
        <div class="right-container">
            <div class="header">
                <a href="#">샐러드</a>
                <a href="#">피자</a>
                <a href="#">스파게티</a>
                <a href="#">파스타/라이스</a>
                <a href="#">음료</a>
            </div>
            <main>
                <div class="main-container">
                    <div class="product-select">
                        <div class="product-images">
                            <img src="/static/images/cheeze.png">
                        </div>
                        <div class="product-detail">
                            <div class="product-name">치즈 크러스트 피자</div>
                            <div class="product-price"><strong>24,000원</strong></div>
                        </div>
                    </div>
                    <div class="product-select">
                        <div class="product-images">
                            <img src="/static/images/bulgogi.png">
                        </div>
                        <div class="product-detail">
                            <div class="product-name">불고기 피자</div>
                            <div class="product-price"><strong>23,000원</strong></div>
                        </div>
                    </div>
                    <div class="product-select">
                        <div class="product-images">
                            <img src="/static/images/shrimp.png">
                        </div>
                        <div class="product-detail">
                            <div class="product-name">피자드새우 피자</div>
                            <div class="product-price"><strong>31,000원</strong></div>
                        </div>
                    </div>
                    <div class="product-select">
                        <div class="product-images">
                            <img src="/static/images/shrimp.png">
                        </div>
                        <div class="product-detail">
                            <div class="product-name">밤고구마 피자</div>
                            <div class="product-price"><strong>28,000원</strong></div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="bottom-container">
                <button type="button" class="lnag-btn">KOR</button>
                <button type="button" class="order-detail-btn">주문내역</button>
                <button type="button" class="call-btn">직원호출</button>
                <button type="button" class="bag-btn">장바구니</button>
            </div>
        </div>
    </div>
</body>
</html>