<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="content">
            <h2>관리자 회원가입</h2>
            <input class="join-input" type="text" placeholder="이름">
            <input class="join-input" type="email" placeholder="이메일">
            <input class="join-input" type="password" placeholder="비밀번호">
            <button class="join-btn btn" type="submit">확인</button>
            <a class="login-return-link" href="/login">로그인으로 돌아가기</a>
        </div>
    </div>
    <script src="/static/js/join.js"></script>
</body>
</html>