<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="regist-container">
            <div class="img-register">
                <div class="img-container">
                    
                </div>
                <button type="button" class="img-regist-btn">사진 등록</button>
            </div>
            <div class="pdt-regist">
                <select name="" id="" class="regist-category-select">
                    <option value="">샐러드</option>
                    <option value="">피자</option>
                    <option value="">스파게티</option>
                    <option value="">파스타/라이스</option>
                    <option value="">음료</option>
                </select>
                <input type="text" placeholder="제품명">
                <input type="number" placeholder="가격">
                <button type="button" class="pdt-regist-btn">제품 등록</button>
            </div>
        </div>
        <div class="pdt-list-container">
            <select name="" id="">
                <option value="">샐러드</option>
                <option value="">피자</option>
                <option value="">스파게티</option>
                <option value="">파스타/라이스</option>
                <option value="">음료</option>
            </select>
            <div class="pdt-list">
                    <table class="pdt-dtl-list">
                        <thead>
                            <tr>
                                <th>상품코드</th>
                                <th>카테고리</th>
                                <th>상품명</th>
                                <th>가격</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>샐러드</td>
                                <td>고기듬뿍샐러드</td>
                                <td>8000</td>
                                <td><button type="button" class="btn">수정</button></td>
                                <td><button type="button" class="btn">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</body>
</html>