<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="/static/css/sales.css">
    <title>Document</title>
</head>
<body>
    <div class="menu-container">
        <a href="/admin/register" class="product-management-link">제품 관리</a>
        <a href="/admin/sales" class="sales-management-link">매출 관리</a>
    </div>
    <div id="container">
        <div class="sales-container">
            <div class="total-sales-container">
                <h2>총 매출</h2>
                <h2 class="total-sales"></h2>
            </div>
            <div class="sales-ratio-container">
                <canvas id="pieChart" style="width:400px; height:160px;"></canvas>
                <div id="legend-div" class="legend-div"></div>
            </div>
        </div>
        <table class="admin-table" border="1" >
            <tr bgcolor="blue" align ="center">
            <p><td colspan = "3" span style="color:white">상품별 매출(PIZZA)</td></p>
            </tr>
            <tr align = "center" bgcolor="skybule">
            <td>상품명</td>
            <td>수량</td>
            <td>매출</td>
            </tr>
            <tr>
            <tbody class="create-sale">
                
            </tbody>
            <tr>
            <td rowspan="3" align = "center" bgcolor="skyblue">총계</td>
            <td colspan="2">수입</td>
            </tr>
            <tr>
            <td colspan="2" class="Allresult">1,000,000</td>
            </tr>
        </table>
        <table class="admin-table" border="1" >
            <tr bgcolor="blue" align ="center">
            <p><td colspan = "3" span style="color:white">상품별 매출(그 외)</td></p>
            </tr>
            <tr align = "center" bgcolor="skybule">
            <td>상품명</td>
            <td>수량</td>
            <td>매출</td>
            </tr>
            <tr>
            <tbody class="create-sale">
                <tr>
                    <td>추가 옵션</td>
                    <td>-</td>
                    <td class="additional-option"></td>
                </tr>
            </tbody>
            <tr>
            <td rowspan="3" align = "center" bgcolor="skyblue">총계</td>
            <td colspan="2">매출</td>
            </tr>
            <tr>
            <td colspan="2" class="Allresult">1,000,000</td>
            </tr>
        </table>
    </div>
     <script src="/static/js/sales.js"></script>
</body>
</html>