<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="aside">
            <div class="table-num">
                테이블번호.
            </div>
            <div class="aside-menu">
                메뉴주문
            </div>
        </div>
        <div class="right-container">
            <div class="header">
                <a href="#">샐러드</a>
                <a href="#">피자</a>
                <a href="#">스파게티</a>
                <a href="#">파스타/라이스</a>
                <a href="#">음료</a>
            </div>
            <main>
                <div class="main-container">

                </div>
            </main>
            <div class="bottom-container">
                <button type="button" class="lnag-btn">KOR</button>
                <button type="button" class="order-detail-btn">주문내역</button>
                <button type="button" class="call-btn">직원호출</button>
                <button type="button" class="bag-btn">장바구니</button>
            </div>
        </div>
    </div>
</body>
</html>