.main-container {
    display: flex;
    align-items: center;
    width: 864px;

    padding: 49px 0 49px 30px;

    overflow: scroll;
}

.product-select {
    display: flex;
    flex-direction: column;

    margin-right: 20px;

    height: 470px;

    border: none;
    background-color: white;
    border-radius: 20px;

}

.product-images {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px 20px 0px 0px;
 
    height: 300px;
    width: 220px;

    overflow: hidden;

}

.product-images img{
    align-items: center;
    justify-content: center;

    height: 100%;

    
    
    
}

.product-datail{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.product-name, .product-price{
    font-size: 20px;
    font-weight: 50;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

