.main-container {
    display: flex;
    align-items: center;
    width: 864px;

    padding: 49px 0 49px 30px;

    overflow: scroll;
}

.main-container:first-child {
    position: relative;
}

.main-container:nth-child(n) {
    position: absolute;
    top: 100px;

}

.invisible {
    visibility: hidden;
}

.product-select {
    display: flex;
    flex-direction: column;

    margin-right: 20px;

    height: 470px;

    border: none;
    background-color: white;
    border-radius: 20px;

}

.product-images {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px 20px 0px 0px;
 
    height: 300px;
    width: 220px;

    overflow: hidden;

}

.product-images img{
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    
}

.product-datail {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.product-name, .product-price {
    font-size: 20px;
    font-weight: 50;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes goCart {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }

    to {
        opacity: 0;
        transform: translate(300px, 300px);
    }
}

.goCart {
    animation: goCart 500ms linear backwards;
}