<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Main</title>
</head>
<body>
    <div id="container">
        <main>
            <div class="tablering">
                <section class="table-left">
                    <span id="title">테이블을 선택해주세요</span>
                    <ul class="number-select">
                        <li> <button class="number">1</button> </li>
                        <li> <button class="number">2</button> </li>
                        <li> <button class="number">3</button> </li>
                    </ul>
                    <ul class="number-select">
                        <li> <button class="number">4</button> </li>
                        <li> <button class="number">5</button> </li>
                        <li> <button class="number">6</button> </li>
                    </ul>
                    <ul class="number-select">
                        <li> <button class="number">7</button> </li>
                        <li> <button class="number">8</button> </li>
                        <li> <button class="number">9</button> </li>
                    </ul>
                </section>
                <section class="table-right">
                    <span id="title">총 인원을 선택해주세요</span>
                    <div id="result-adult">어른 0명
                    <button class="btn people">+</button>
                    <button class="btn people">-</button>
                </div>
                    <div id="result-children">어린이 0명
                    <button class="btn people">+</button>
                    <button class="btn people">-</button>   
                </div>
                <button class="btn next">다음</button>
                </section>
                
            </div>
        </main>
    </div>
</body>
</html>